
.spc-shpd-item-wrap{
    padding: 20px 20px 20px 20px;
}

.spc-shpd-item-title{
    font-family: 'GothamBold';
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.spc-shpd-item-head{
    border-bottom: 1px solid #b5b5b5;
    margin-bottom: 10px;
}

.spc-shpd-item-cover{
    margin-bottom: 20px;;
}

.shpd-add-name{
    font-family: 'GothamMedium';
}

.spc-shpd-edit-link a{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    font-family: 'GothamMedium';
    float: right;
    color: #c1903e;
}

.spc-add-address-cover{
    padding: 15px 0px 0px 0px;
}

.spc-shpd-ods-title{
    font-family: 'GothamMedium';
}

.shpd-ods-cover{
    margin-top: 20px;
}

.spc-shpd-ods-price{
    text-align: right;
}

.shpd-ods-item{
    margin-bottom: 7px;
}

.spc-shpd-ods-border{
    margin-top: 20px;
}

.shpd-ods-item-total{
    margin-top: 10px;
}

.spc-shpd-ods-price-total{
    font-family: 'GothamBold';
}

.spc-shpd-ods-border{
    border-bottom: 1px solid #b5b5b5;
}

.sp-checkout-cover{
    margin: 0px 0px 100px 0px;
}

.modal-address-list-cover{
    padding: 20px;
}

.spc-add-tab-action{
    text-align: center;
}

.spc-add-tab-body{
    font-size: 12px;
}


.address-modal-form-cover{
    padding: 30px;
}

.address-modal-form-cover label{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fc-modal {
    font-size: 13px !important;
}

select.fc-modal:not([size]):not([multiple]){
    height: 35px !important;
}

/* Address Label */
.adb-radio-cover{
    display: inline-block;
}

.adb-radio-input{
    position: absolute;
    margin-top: 7px;
    margin-left: -1.25rem;
}

.adb-radio-label{
    padding-left: 10px;
}

.adb-label-head{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    margin: 20px 0px 20px 0px;
}

.adb-label-instruction{
    font-size: 12px;
    font-style: italic;
}

.adb-label-body-cover{
    margin: 30px 0px 0px 20px;
}

.modal-error {
    color: #dc3545!important;
    font-size: 12px;
    margin-left: 10px;
}
/* Edn Address Label */
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}   

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
